@import "tailwindcss";

@layer components {
  .globalContainer {
    @apply max-w-[1360px] mx-auto px-5 md:px-8 lg:px-8;
  }
  .inputStyle {
    @apply mt-2 mb-5 w-full border-2 border-gray-300 rounded-2xl py-3 px-4;
  }
  .dashdoardInputStyle {
    @apply mt-[6px] w-full border-1 border-gray-300 rounded-md py-2 px-3 focus:outline-1 outline-primary-black;
  }
  .titleLevel1 {
    @apply lg:text-[61px] md:text-[49px] sm:text-[31px] text-[25px] text-center;
  }
  .titleLevel2 {
    @apply md:text-[49px] sm:text-[31px] text-[25px] text-center;
  }
}

@theme {
  --color-primary: #145f48;
  --color-secondary: #f7c914;
  --color-tertiary: #e5ea98;

  --color-farm-green: #145f48;
  --color-lettuce: #2ba149;
  --color-lemon-green: #aed141;
  --color-lllight-green: rgba(241, 244, 199, 0.5);
  --color-llight-green: #f1f4c7;
  --color-light-green: #e5ea98;
  --color-lemon: #f7c914;
  --color-pumpkin: #f5933c;
  --color-chilly-paper: #bc2141;
  --color-beetroot: #8e4175;

  --color-primary-black: #1f1c1e;
  --color-primary-white: #ffffff;
  --color-primary-lgray: #cfccce;
  --color-primary-dgray: #625b5f;
}

@font-face {
  font-family: "GooperFont";
  src: url("/fonts/gooper-semi-condensed-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Maison_Neue_font";
  src: url("/fonts/fonnts.com-Maison_Neue_Book.ttf") format("truetype");
}

.gooper {
  font-family: "GooperFont";
}

:root {
  font-family: "Maison_Neue_font";

  line-height: 1.3;
}
