@import "tailwindcss";

@layer components {
  .globalContainer {
    @apply max-w-[1350px] mx-auto px-5 md:px-8 lg:px-8;
  }
}

@theme {
  --color-primary: #145f48;
  --color-secondary: #f7c914;
  --color-tertiary: #e5ea98;
}

@font-face {
  font-family: "GooperFont";
  src: url("/fonts/gooper-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Maison_Neue_font";
  src: url("/fonts/fonnts.com-Maison_Neue_Mono.ttf") format("truetype");
}

.gooper {
  font-family: "GooperFont";
}

:root {
  font-family: "Maison_Neue_font";
}
